*{
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
  body{
    margin:120px;
  }
  .top-nav{
    display:flex;
    background:red;
    padding:20px;
    align-items:center;
  }
  .logo{
    background:red;
    flex:1;
  }
  .search{
    flex:2;
    justify-content:start;
    padding:19px;
    
  }
  input{
    padding:10px;
    border-style:none;
    border-radius:6px;
    width:350px;
  }
  .links{
    flex:3;
  }
  .link-list{
    display:flex;
    list-style:none;
    margin:none;
    padding:none;
  }
  
  .link-list li a{
    text-decoration:none;
    margin:10px;
    color:white;
    font-size:1.2rem;
  }
  
  .movie-container{
    display:flex;
  }
  .container-1,
  .container-2,
  .container-3
  {
    height:350px;
    margin:1px;
  }
  .container-1{
   display:flex;
    
    flex:2;
  background:url(https://www.incimages.com/uploaded_files/image/1920x1080/offensive-movie-posters_39111.jpg )center/cover;
  }
  .container-2{
    display:flex;
    flex:1;
    padding:0 20px 0 20px; background:url(https://bloximages.newyork1.vip.townnews.com/omaha.com/content/tncms/assets/v3/editorial/3/2a/32aa8ee4-8b24-5dbe-9924-378154a7564c/5bc7927e7d841.image.jpg?resize=1200%2C800)center/cover;
  }
  .container-3{
    flex:1;
    background:url(https://www.esquireme.com/public/images/2019/07/14/first-official-photo-shared-of-daniel-craig-as-james-bond-in-bond-25-social-1562844031.jpg)center/cover;
  }
  
  .info-box{
   display:flex;
    align-items:flex-end;
    text-align:left;
  }
  .info{
    width:100%;
    color:white;
    background:rgba(33,33,33 ,.8);
    padding:8px;
    margin-bottom:20px;
    border-left:4px solid red;
  }
  .paragraph-info{
    font-size:1.2rem;
  }